<h4>Popular Articles</h4>
<div class="row">
  <ul class="list-group">
    <% @most_popular_articles.each do |article| %>
        <li class="my-list-item"><%= link_to article.title, article %></li>
    <% end %>
  </ul>
</div>