<% if !@recent_featured_articles.empty? %>
    <h4>Recent Articles</h4>
    <div class="row">
      <ul class="list-group">
        <% @recent_featured_articles.each do |article| %>
            <li class="my-list-item"><%= link_to article.title, article %></li>
        <% end %>
      </ul>
    </div>
<% end %>